.backgroundImg {
  height: 350px;
}

@media screen and (min-width: 1024px) {
  .backgroundImg {
    height: 550px;
  }
}

@media screen and (min-width: 1600px) {
  .backgroundImg {
    height: 650px;
  }
}